<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "myRecipes",root_path, class: "btn btn-lg btn-success", id: "logo" %>
  
    <div class="nav-item">
      <%= link_to "link1","", class: "btn btn-success pull-right" %>
    </div>
    
    <div class="nav-item">
      <%= link_to "link1","", class: "btn btn-success pull-right" %>
    </div>
    
    <div class="nav-item"> 
      <%= link_to "New Reecipe",new_reecipe_path, class: "btn btn-success pull-right" %>
    </div>
  </div>
</header>

